/****************
* Reset
*****************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, main, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#example-container:after {
	content: "";
	display: table;
	clear: both;
}


/****************
* Page Styles
*****************/

body,
html {
	background-color: #000;
	color: #fff;
	font-family: texgyreheros;
}

.page-wrapper {
	width: 950px;
	margin: 0 auto;
}

	.header {
		padding-top: 40px;
		padding-bottom: 76px;
	}

		/*clearfix*/
		.header:after {
			content: "";
			display: table;
			clear: both;
		}

		.header .logo {
			float: left;
			margin-right: 30px;
		}


	.container {}

		/*clearfix*/
		.container:after {
			content: "";
			display: table;
			clear: both;
		}

		main {
			width: 750px;
			float: left;
		}

		aside {
			width: 100px;
			margin-left: 60px;
			float: left;
		}

	.footer {
		margin-top: 20px;
	}


/****************
* Main Nav
*****************/	

.header .nav {
	float: left;
	letter-spacing: 0.04em;
}

	.nav ul {
		list-style: none;
	}

		.nav ul li {
			display: inline-block;
			float: left;
			padding-right: 10px;
			padding-left: 10px;
		}

			.nav a {
				color: #fff;
				text-decoration: none;
			}

			/*Active Nav States*/

			.profile a.nav-profile,
			.projects a.[class^="proj-"],
			.proj-art a.nav-art,
			.contact a.nav-contact {
				color: #ff6f1f;
				font-weight: bold;
			}
			.proj-art a.nav-art {
				color: #ff6f1f;
				font-weight: bold;
			}


/****************
* Image Gallery
*****************/


/*Featured Image*/

#feature-image {
	position: relative;
}

/*clear-fix*/
#feature-image:after {
  content: "";
  display: table;
  clear: both;
}

#feature-image img {
	max-width: 750px;
	height: auto;
}

/*Thumbnails*/

#image-list {
	width: 60px;
	overflow: hidden;
}

#image-list img {
	height: 80px;
}

#collection-description {
	margin-top: 10px;
}

.slick-track {
	max
}

/*Slider Nav Buttons*/

button {
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	color: transparent;
	z-index: 10;
}

#feature-image .slick-prev,
#feature-image .slick-next {
	position: absolute;
	top: 250px;
	width: 12px;
	height: 20px;
}

#feature-image .slick-prev {
	left: -30px;
	background-image: url('images/arrow-left.png');
	background-position: center;
}
#feature-image .slick-next {
	right: -30px;
	background-image: url('images/arrow-right.png');
}

#image-list .slick-prev,
#image-list .slick-next {
	background-position: center;
	text-align: center;
}

#image-list .slick-prev {
	background-image: url('images/arrow-up.png');
	margin-bottom: 10px;
}
#image-list .slick-next {
	background-image: url('images/arrow-down.png');
	margin-top: 10px;
}

.owl-prev > img,
.owl-next > img {
	position: absolute;
	top: 250px;
}

.owl-prev > img {
	left: -30px;
}

.owl-next > img {
	right: -30px;
}

.buttons {
	display: block; 
	width: 60px; 
	text-align: center;
}

.buttons.prev {
	margin-bottom: 10px;
}

.buttons.next {
	margin-top: 20px;
}

.buttons.disable {
	pointer-events: none;
	opacity: 0;
}


