/****************
* Reset
*****************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, main, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#example-container:after {
	content: "";
	display: table;
	clear: both;
}


/****************
* Page Styles
*****************/

body,
html {
	background-color: #000;
	color: #fff;
	font-family: texgyreheros;
	font-size: 14px;
	line-height: 18px;
}

.page-wrapper {
	width: 950px;
	margin: 0 auto;
}

	.header {
		padding-top: 40px;
		padding-bottom: 76px;
	}

		/*clearfix*/
		.header:after {
			content: "";
			display: table;
			clear: both;
		}

		.header .logo {
			float: left;
			margin-right: 30px;
		}


	.container {}

		/*clearfix*/
		.container:after {
			content: "";
			display: table;
			clear: both;
		}

		main {
			width: 750px;
			float: left;
		}

		aside {
			width: 100px;
			margin-left: 60px;
			float: left;
		}

	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

/****************
* Common Elements
*****************/

/*Orange: #ff6f1f
Black: #111
White: #fff*/

a,
a:link {
	color: #fff;
	text-decoration: none;
}

h1 {}

h2 {
	color: #ff6f1f;
	font-size: 24px;
}

p {
	padding-top: 15px;
}

/****************
* Main Nav
*****************/	

	.nav ul {
		list-style: none;
		display: block;
		width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		font-size: 15px;
	}

		.nav ul li {
			display: inline-block;
			padding-right: 20px;
			padding-left: 20px;
		}

			.nav a {
				display: block;
				color: #fff;
				text-decoration: none;
			}

			/*Active Nav States*/

			.profile .nav-profile,
			[class^="proj-"] .nav-projects,
			.projects .nav-projects,
			.art .nav-art,
			.contact .nav-contact {
				color: #ff6f1f;
				font-weight: bold;
			}


/****************
* Image Gallery
*****************/


/*Featured Image*/

#feature-image {
	position: relative;
}

/*clear-fix*/
#feature-image:after {
  content: "";
  display: table;
  clear: both;
}

#feature-image img {
	max-width: 750px;
	height: auto;
}

/*Thumbnails*/

#image-list {
	width: 60px;
	overflow: hidden;
}

#image-list img {
	height: 80px;
}

#collection-description {
	margin-top: 10px;
}

.slick-track {
	max
}

/*Slider Nav Buttons*/

button {
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	color: transparent;
	z-index: 10;
}

.slick-arrow:hover,
.slick-arrow:focus {
	cursor: pointer;
}

.slick-disabled {
	pointer-events: none;
	opacity: 0;
}

#feature-image .slick-prev,
#feature-image .slick-next {
	position: absolute;
	top: 250px;
	width: 12px;
	height: 20px;
}

#feature-image .slick-prev {
	left: -30px;
	background-image: url('images/arrow-left.png');
	background-position: center;
}
#feature-image .slick-next {
	right: -30px;
	background-image: url('images/arrow-right.png');
}

#image-list .slick-prev,
#image-list .slick-next {
	background-position: center;
	text-align: center;
}

#image-list .slick-prev {
	background-image: url('images/arrow-up.png');
	margin-bottom: 10px;
}
#image-list .slick-next {
	background-image: url('images/arrow-down.png');
	margin-top: 10px;
}

.owl-prev > img,
.owl-next > img {
	position: absolute;
	top: 250px;
}

.owl-prev > img {
	left: -30px;
}

.owl-next > img {
	right: -30px;
}

.buttons {
	display: block; 
	width: 60px; 
	text-align: center;
}

.buttons.prev {
	margin-bottom: 10px;
}

.buttons.next {
	margin-top: 20px;
}

.buttons.disable {
	pointer-events: none;
	opacity: 0;
}

/****************
* Projects Section
*****************/

.projects main {
	background-color: #ccc;
	padding: 20px;
}

.projects main:after {
	content: "";
	display: table;
	clear: both;
}

ul.project-list {
	list-style: none;
	width: 100%;
}

ul.project-list a {
	color: #ff6f1f;
}

ul.project-list li {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	width: 50%;
	float: left;
}

ul.project-list li:nth-child(3) {
	clear: left;
}


/****************
* Profile
*****************/

.profile article:after {
	content: "";
	display: table;
	clear: both;
}

.profile article {
	box-sizing: border-box;
	width: 850px;
	margin: 0 auto;
}

.profile article .body {
	width: 520px;
	float: left;
}

.profile article ul {
	width: 300px;
	float: left;
}

.profile article li {
	padding-bottom: 10px;
}

.profile article.ebh-concept .body {
	margin-right: 30px;
	text-align: right;
} 

.profile article.seema-singh .body {
	margin-left: 30px;
}



/****************
* Contact
*****************/

.contact article:after {
	content: "";
	display: table;
	clear: both;
}

.contact article {
	box-sizing: border-box;
}

.contact article .body {
	width: 620px;
	float: left;
}

.contact article ul {
	width: 300px;
	float: left;
}

.contact article .body {
	margin-left: 30px;
}

.contact article h2 {
	font-size: 1.35em;
}

.contact article li {
	padding-bottom: 50px;
}

/* contact form start */ 

.contact-main-wrap {
	width: 950px;
	height: auto;
	padding: 0 30px 0 30px;
}

.contact-page-top-text {
	width: 950px;
	height: 25px;
	float; left;
	clear: both;
	padding-top: 30px;
	font-size:  1.35em;  
	letter-spacing: .005em;
	color: rgba(50,56,55,0.80);
	color: #FF6F1F; 
}

.contact-page-left-text {
	width: 300px;
	height: 300px;
	float: left;
	padding-top: 53px;
	font-size:  0.9em;
	font-size: 20px;  
	letter-spacing: .015em;
	line-height: 28px;
	color: rgba(50,56,55,1.00);
	color: #FF6F1F;
}

.contact-thank {
	font-style: italic;
	font-size:  1.3em;  
	letter-spacing: 0em;
	line-height: 200px;
	color: orange;

}

.contact-form-wrap {
	width: 800px;
	height: auto;
	float: right;
}

.freecontactform {
	width: 750px;
	font-family: helvetica, sans-serif;
	padding:10px;
	float: left;
	float: left;
}

.freecontactformheader {
	font-size:15px;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left;
}

.freecontactformmessage {
	text-align:center;
	padding-bottom:10px;
}

.freecontactform td {
	padding: 4px;
	font-size: 0.7em;
	color: gray;
	letter-spacing: 0.4px;
}

.freecontactform label {
	padding:4px ;
	line-height: 4px;
	vertical-align: bottom;
	font-size: 12px;
	color: #FFFFFF;
}

.required {
	font-weight:normal;
}

.not-required {
	font-weight:normal;
}

.antispammessage {
	padding:10px;
	border-top:1px solid #AAA;
	border-bottom:1px solid #AAA;
	font-weight:bold; 
}

.antispamquestion {
	font-weight:normal;
}

input,
textarea {
	width: 230px;
	height: 30px;
	border: 1px solid #9cd792;
	background-color: #F5F5F5;
	padding:4px;
	color: white;
	background-color: black;

textarea {
	width:468px;
	height:170px;
}

.submit-button {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #FF6F1F;
}

/* contact form end */   


/****************
* Responsive
*****************/

@media (max-width: 949px) {
	.page-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}
}
